Repository thanos-io/thanos, pull requests merged in 2019-11, with the labels that each got.

#1738 Add FREE NOW as users of Thanos
  website/data/adopters.yml
  website/static/logos/free-now.png
Labels: website/docs

#1719 Docs: Expand ruler recommended alerting docs
  docs/components/rule.md
Labels: component: rule, website/docs

#1733 compact: add metric thanos_compactor_iterations_total
  CHANGELOG.md
  cmd/thanos/compact.go
Labels: component: compact

#1600 docs: removed old k8s demo and refer kube-thanos instead, also update…
  docs/quick-tutorial.md
  docs/release-process.md
  tutorials/kubernetes-demo/.gitignore
  tutorials/kubernetes-demo/README.md
  tutorials/kubernetes-demo/apply-pv-gen-metrics.sh
  tutorials/kubernetes-demo/blockgen/container_mem_metrics_eu1.json
  tutorials/kubernetes-demo/blockgen/container_mem_metrics_us1.json
  tutorials/kubernetes-demo/blockgen/main.go
  tutorials/kubernetes-demo/blockgen/main_test.go
  tutorials/kubernetes-demo/cluster-down.sh
  tutorials/kubernetes-demo/cluster-up.sh
  tutorials/kubernetes-demo/manifests/alertmanager.yaml
  tutorials/kubernetes-demo/manifests/grafana-datasources-querier.yaml
  tutorials/kubernetes-demo/manifests/grafana-datasources.yaml
  tutorials/kubernetes-demo/manifests/grafana.yaml
  tutorials/kubernetes-demo/manifests/kube-state-metrics.yaml
  tutorials/kubernetes-demo/manifests/minio.yaml
  tutorials/kubernetes-demo/manifests/prometheus-ha-sidecar-lts.yaml
  tutorials/kubernetes-demo/manifests/prometheus-ha-sidecar.yaml
  tutorials/kubernetes-demo/manifests/prometheus-ha.yaml
  tutorials/kubernetes-demo/manifests/prometheus-pv-0.yaml
  tutorials/kubernetes-demo/manifests/prometheus-pv-1.yaml
  tutorials/kubernetes-demo/manifests/prometheus-rules.yaml
  tutorials/kubernetes-demo/manifests/prometheus.yaml
  tutorials/kubernetes-demo/manifests/thanos-compactor.yaml
  tutorials/kubernetes-demo/manifests/thanos-querier-no-us1.yaml
  tutorials/kubernetes-demo/manifests/thanos-querier.yaml
  tutorials/kubernetes-demo/manifests/thanos-ruler.yaml
  tutorials/kubernetes-demo/manifests/thanos-store-gateway.yaml
  tutorials/kubernetes-demo/setup.sh
  tutorials/kubernetes-demo/slides/globalview-ha.svg
  tutorials/kubernetes-demo/slides/initial-setup.svg
  tutorials/kubernetes-demo/slides/unlimited-retention.svg
Labels: website/docs
