Repository thanos-io/thanos, pull requests merged in 2019-06, with the labels that each got.

#1214 docs: Improved sidecar docs.
  CHANGELOG.md
  docs/components/sidecar.md
  docs/proposals/completed/201809_gossip-removal.md
Labels: feature request / improvement, website/docs

#1260 Query/Ruler: Add metric for number of endpoints resolved for each configured address.
  pkg/discovery/dns/provider.go
Labels: component: query, component: rule, feature request / improvement

#1253 Add Support for retries when using Azure Blob Storage
  CHANGELOG.md
  docs/storage.md
  pkg/objstore/azure/azure.go
  pkg/objstore/azure/azure_test.go
  pkg/objstore/azure/helpers.go
Labels: feature request / improvement

#1277 docs: add integration docs
  README.md
  docs/integrations.md
Labels: website/docs
