Repository thanos-io/thanos, pull requests merged in 2019-03, with the labels that each got.

#871 Add a multi-stage Dockerfile
  Dockerfile.multi-stage
  Makefile
Labels: priority: P0

#867 sidecar: Moved shipper flag check to run.group.
  cmd/thanos/sidecar.go
  pkg/shipper/shipper.go
Labels: priority: P0

#873 store/cache: fix broken metric and current index cache size handling
  pkg/store/cache.go
  pkg/store/cache_test.go
Labels: priority: P0

#865 querier: do A lookups after SRV lookups for store discovery
  pkg/discovery/dns/resolver.go
  pkg/discovery/dns/resolver_test.go
Labels: priority: P0, state: changes-requested

#941 sidecar: Handle intermediate restarts of sidecar gracefully.
  pkg/block/block.go
  pkg/shipper/shipper.go
Labels: component: sidecar

#939 query: support POST method for query/query_range endpoints
  pkg/query/api/v1.go
Labels: component: query

#947 Remove some white noise
  CHANGELOG.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  benchmark/README.md
  docs/components/bucket.md
  docs/components/compact.md
  docs/components/query.md
  docs/components/rule.md
  docs/components/sidecar.md
  docs/components/store.md
  docs/design.md
  docs/getting_started.md
  docs/proposals/approved/201809_gossip-removal.md
  docs/proposals/approved/201901-read-write-operations-bucket.md
  docs/proposals/rejected/201807_store_instance_high_availability.md
  docs/proposals/rejected/config.md
  docs/release_process.md
  docs/service_discovery.md
  docs/storage.md
  scripts/genflagdocs.sh
Labels: docs

#937 objstore.s3: add trace functionality
  docs/storage.md
  pkg/objstore/s3/s3.go
Labels: component: store

#798 store: add ability to limit max num of samples / concurrent queries
  CHANGELOG.md
  cmd/thanos/store.go
  docs/components/store.md
  pkg/store/bucket.go
  pkg/store/bucket_e2e_test.go
  pkg/store/bucket_test.go
  pkg/store/gate.go
  pkg/store/limiter.go
Labels: component: store

#965 feat sidecar: added info log about successful load of external labels
  cmd/thanos/sidecar.go
Labels: component: sidecar, feature request / improvement

#928 query: Add store.response-timeout
  cmd/thanos/query.go
  docs/components/query.md
  pkg/query/storeset.go
  pkg/store/proxy.go
  pkg/store/proxy_test.go
Labels: component: store

#963 config: Add possibility to inline ServiceAccount into GCS config
  docs/storage.md
  go.mod
  pkg/objstore/gcs/gcs.go
Labels: feature request / improvement

#948 Add comment about bzr
  docs/getting_started.md
Labels: docs

#987 use origin mod check
  Makefile
Labels: component: bucket/tooling, feature request / improvement
