Repository thanos-io/thanos, pull requests merged in 2019-04, with the labels that each got.

#995 Makefile: fix mac OS build
  Makefile
Labels: bugfix, component: bucket/tooling

#970 ruler: Added support for strict rule groups that does not allow partial_response
  CHANGELOG.md
  cmd/thanos/query.go
  cmd/thanos/rule.go
  docs/components/query.md
  docs/components/rule.md
  pkg/promclient/promclient.go
  pkg/rule/api/v1.go
  pkg/rule/api/v1_test.go
  pkg/rule/rule.go
  pkg/rule/rule_test.go
  pkg/store/bucket.go
  pkg/store/prompb/remote.pb.go
  pkg/store/storepb/custom.go
  pkg/store/storepb/rpc.pb.go
  pkg/store/storepb/rpc.proto
  pkg/store/storepb/types.pb.go
  pkg/ui/rule.go
  scripts/genproto.sh
  test/e2e/query_test.go
  test/e2e/rule_test.go
  test/e2e/spinup_test.go
  test/e2e/store_gateway_test.go
Labels: component: rule, difficulty: medium, feature request / improvement, help wanted, priority: P0

#910 query: cleanup store statuses as they come and go
  CHANGELOG.md
  cmd/thanos/query.go
  docs/components/query.md
  pkg/query/storeset.go
  pkg/query/storeset_test.go
  pkg/ui/bindata.go
  pkg/ui/query.go
  pkg/ui/templates/stores.html
Labels: component: query

#986 store+compactor: process index cache during compaction
  CHANGELOG.md
  cmd/thanos/compact.go
  pkg/block/block.go
  pkg/block/index.go
  pkg/block/metadata/meta.go
  pkg/compact/compact.go
  pkg/compact/downsample/streamed_block_writer.go
  pkg/objstore/objstore.go
  pkg/store/bucket.go
Labels: component: compact, component: store, difficulty: medium, help wanted, priority: P0

#807 Website for Thanos' docs using Hugo.
  .circleci/config.yml
  .gitignore
  CODE_OF_CONDUCT.md
  Makefile
  docs/components/bucket.md
  docs/components/compact.md
  docs/components/query.md
  docs/components/rule.md
  docs/components/sidecar.md
  docs/components/store.md
  docs/contributing/dev.md
  docs/contributing/how-to-contribute-to-docs.md
  docs/design.md
  docs/getting-started.md
  docs/getting_started.md
  docs/proposals/approved/201809_gossip-removal.md
  docs/proposals/approved/201812_thanos-remote-receive.md
  docs/proposals/approved/201901-read-write-operations-bucket.md
  docs/proposals/rejected/201807_store_instance_high_availability.md
  docs/proposals/rejected/config.md
  docs/release-process.md
  docs/service-discovery.md
  docs/storage.md
  go.mod
  go.sum
  scripts/websitepreprocess.sh
  website/archetypes/docs.md
  website/hugo.tmpl.yaml
  website/layouts/_default/baseof.html
  website/layouts/_default/sidemenu.html
  website/layouts/_default/single.html
  website/layouts/blog/list.html
  website/layouts/blog/single.html
  website/layouts/index.html
  website/layouts/proposal/single.html
  website/layouts/shortcodes/embedcode.html
  website/static/CNAME
  website/static/Thanos-logo_full.svg
  website/static/icon-dark.png
  website/static/icon-light.png
  website/static/main.css
  website/static/syntax.css
Labels: docs

#1033 gcs: Fixed scopes for inline ServiceAccount option.
  pkg/objstore/gcs/gcs.go
Labels: bugfix, difficulty: easy, priority: P0

#1037 storage docs: add detail about GCS policies and testing
  docs/storage.md
Labels: docs

#980 store: azure: allow passing an endpoint parameter for specific regions
  docs/storage.md
  pkg/objstore/azure/azure.go
  pkg/objstore/azure/azure_test.go
  pkg/objstore/azure/helpers.go
  pkg/objstore/azure/helpers_test.go
Labels: component: store

#838 add compare flags func to compare flags between prometheus and sidecar
  cmd/thanos/sidecar.go
  docs/components/sidecar.md
  go.mod
  go.sum
  pkg/promclient/promclient.go
  pkg/promclient/promclient_e2e_test.go
  pkg/shipper/shipper.go
  pkg/shipper/shipper_e2e_test.go
  test/e2e/spinup_test.go
Labels: help wanted, priority: P0

#1078 website: Moved to netlify.
  .gitignore
  Makefile
  README.md
  go.mod
  go.sum
  netlify.toml
  scripts/websitepreprocess.sh
  website/hugo.yaml
  website/layouts/_default/baseof.html
  website/layouts/shortcodes/embedcode.html
Labels: website/docs

#1080 website: Fixing netlify.
  Makefile
  netlify.toml
Labels: website/docs

#1081 website: Added "founded by" footer.
  Makefile
  website/layouts/_default/baseof.html
Labels: website/docs
