Repository thanos-io/thanos, pull requests merged in 2019-01, with the labels that each got.

#467 Object Storage: Support tencent cloud COS provider
  .circleci/config.yml
  CONTRIBUTING.md
  Gopkg.lock
  Gopkg.toml
  Makefile
  cmd/thanos/store.go
  docs/components/store.md
  docs/storage.md
  pkg/objstore/client/factory.go
  pkg/objstore/cos/cos.go
  pkg/objstore/objtesting/foreach.go
  scripts/bucketcfggen/main.go
Labels: feature request / improvement

#743 Docs: update docs
  CONTRIBUTING.md
  README.md
  docs/img/arch.jpg
Labels: docs

#704 Upgraded Prometheus and TSDB deps.
  Gopkg.toml
  Makefile
  cmd/thanos/bucket.go
  cmd/thanos/downsample.go
  cmd/thanos/query.go
  cmd/thanos/rule.go
  cmd/thanos/sidecar.go
  pkg/block/block.go
  pkg/block/index.go
  pkg/block/index_test.go
  pkg/block/metadata/meta.go
  pkg/compact/compact.go
  pkg/compact/compact_e2e_test.go
  pkg/compact/downsample/downsample.go
  pkg/compact/downsample/downsample_test.go
  pkg/compact/downsample/pool.go
  pkg/compact/retention_test.go
  pkg/query/api/v1.go
  pkg/query/api/v1_test.go
  pkg/query/querier.go
  pkg/query/querier_test.go
  pkg/query/test_print.go
  pkg/shipper/shipper.go
  pkg/shipper/shipper_e2e_test.go
  pkg/shipper/shipper_test.go
  pkg/store/bucket.go
  pkg/store/bucket_e2e_test.go
  pkg/store/bucket_test.go
  pkg/store/prometheus_test.go
  pkg/testutil/prometheus.go
  pkg/verifier/index_issue.go
Labels: priority: P0

#781 adding sub command docs for inspect
  docs/components/bucket.md
  scripts/genflagdocs.sh
Labels: docs
