Repository thanos-io/thanos, pull requests merged in 2019-05, with the labels that each got.

#1142 store/cache: drop updates to existing items and dedupe get/set methods
  pkg/store/cache/cache.go
  pkg/store/cache/cache_test.go
Labels: component: store, priority: P0

#1161 Thanos Rule: Add more context to errors
  pkg/promclient/promclient.go
  pkg/query/api/v1.go
Labels: bugfix, component: rule

#1173 store,compact,sidecar: replace all usage of json.Decoder with json.Unmarshal
  cmd/thanos/compact.go
  cmd/thanos/downsample.go
  pkg/block/block.go
  pkg/block/index.go
  pkg/promclient/promclient.go
  pkg/store/prometheus.go
  test/e2e/rule_test.go
Labels: component: compact, component: sidecar, component: store

#1146 store/bucket: make getFor() work with interleaved resolutions
  CHANGELOG.md
  go.mod
  go.sum
  pkg/query/api/v1.go
  pkg/query/api/v1_test.go
  pkg/query/querier.go
  pkg/query/querier_test.go
  pkg/store/bucket.go
  pkg/store/bucket_test.go
Labels: component: query, component: store, priority: P0
