Repository thanos-io/thanos, pull requests merged in 2020-01, with the labels that each got.

#1951 store: fix a small house-keeping data race
  pkg/store/bucket.go
Labels: component: store

#1997 docs/release-process: add more steps
  docs/release-process.md
Labels: website/docs

#1369 add flag max query samples
  cmd/thanos/query.go
  docs/components/query.md
Labels: component: query, pinned
